.top {
  width: 200px;
  height: 100px;
  background-color: #171717;
  position: relative;
}
body {
  margin: 0px;
  font-size: small;
}
.logo {
  margin-left: 15%;
  padding-top: 15px;
}
ul li {
  display: inline-block;
  padding-right: 29px;
  color: #ffffff;
  position: relative;
  top: -124px;
  left: 385px;
  font-size: 14px;
}